*{box-sizing:border-box;
	margin:0;padding:0;}
body{
	font-size:12px;
	background:#ddd;
}
.menu{
	width:"100%";
	height:83px;
	background:#00a0b0;
	margin-top:68px;
}
.menu>.first_chi{
	margin-left:150px;
}
.menu li{
	list-style:none;
	float:left;
	line-height:83px;
	font-size:18px;
	width:100px;
	font-weight:700;
	color:#fff;
	margin-left:54px;
	text-align:center;
}
.menu li:hover{
	cursor:pointer;
	color:#74d7e1;
}
.act{
	width:100%;
	height:900px;
	background:#fff;
	margin:0 auto;
}
.hid{
	display:none;
}

.container{
	box-sizing:border-box;
	margin-top:0px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	padding:0px 15px;

}
.container:before{
	content:' ';
	display:table;
}

.container:after{
	content:' ';
	display:table;
}
/*主页*/


.lef{
	width:300px;
	height:900px;
	float:left;
	margin-top:20px;
	position:relative;

}
.cen{
	width:630px;
	margin-top:20px;
	float:left;
	overflow:hidden;
	background-color:#ddd;
}

.rig{
	width:300px;
	height:300px;
	float:left;
	margin-top:20px;
	
	margin-left:10px;
}

.lef:before{
	content:' ';
	display:table;
}

.lef:after{
	content:' ';
	display:table;
}

.cen:before{
	content:' ';
	display:table;
}

.cen:after{
	content:' ';
	display:table;
}

.rig:before{
	content:' ';
	display:table;
}

.rig:after{
	content:' ';
	display:table;
}
#sein{
	width:225px;
	height:365px;
	
	position:absolute;
	left:50px;
	background:#00a0b0;
}
.im{/*主页头像*/
	width:100px;
	height:100px;
	background-image:url(../img/hp1.png);
	border-radius:50%;
	position:absolute;
	left:62.5px;
	top:100px;
}

#sein :nth-child(2){
	font-size:18px;
	font-weight:600;
	color:#ddd;
	position:absolute;
	top:220px;
	left:85px;
}
#sein :nth-child(3){
	font-size:12px;
	font-weight:600;
	width:225px;
	color:#ddd;
	position:absolute;
	top:260px;
	text-align:center;
}



/*简历*/
#sec{
	height:1300px;
}
#resume{
	margin:20px auto;
	height:1200px;
	width:857px;
	
}
#rslt{/*简历左边*/
	display:inline-block;
	width:250px;
	height:1080px;
	background:#1d2a3c;
	position:relative;
}

#rsrg{/*简历右边*/
	display:inline-block;
	width:606px;
	height:900px;
	margin-left:-5px;
	
}

#rshi{/*简历头像*/
	width:100px;
	height:100px;
	background-image:url(../img/hp1.png);
	border-radius:50%;
	position:absolute;
	top:100px;
	left:75px;
}
/*基本信息*/
#bascinfo{
	width:215px;
	height:271px;
	border:1px dashed #ddd;
	position:absolute;
	top:260px;
	left:17.5px;
}
#bascinfo>ul li{
	list-style:none;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #d9d9d9;
	padding-left:10px;
	color:#d9d9d9;
	text-align:justify;
}
#bascinfo>ul li:not([class=bfont]){
	font-size:16px;
}
#ct>ul li:not([class=bfont]){
	font-size:14px;
}
#ct{/*证书*/
	
	width:215px;
	height:181px;
	border:1px dashed #ddd;
	position:absolute;
	top:564px;
	left:17.5px;
}

#ct>ul li{
	list-style:none;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #d9d9d9;
	padding-left:10px;
	color:#d9d9d9;
}
.bfont{
	font-size:20px;

}
/*简历右侧*/
#rgcontent{
	width:540px;
	height:1000px;
	/*border:1px solid #333;*/
	margin-left:35px;
	margin-top:-157px;
	position:relative;
}
#nam{
	position:absolute;
	top:65px;
}
#nam .rsnam{
	font-size:30px;
	font-weight:700;
	color:#1d2a3c;
}
#nam p:not(.rsnam){font-size:14px;color:#696e91;font-weight:600;}

.contents{
	width:540px;
	
	position:absolute;
	top:195px;
}
.contents :first-child{
	width:100%;
	height:40px;
	background:#00a0b0;
	line-height:40px;
	font-size:18px;
	color:#ffffc3;
	padding-left:10px;
}
.contents :last-child{margin-top:5px;;padding:10px;font-size:16px;border:1px solid #333;}
.contents1{
	width:540px;

	position:absolute;
	top:420px;
}
.contents1>p:first-child{
	
	width:100%;
	height:40px;
	background:#00a0b0;
	line-height:40px;
	font-size:18px;
	color:#ffffc3;
	padding-left:10px;
}
.contents1>div{border:1px solid #333;margin-top:5px;padding:10px;}
.contents1>div p:first-child{
	font-weight:550;
}
.contents1 p{font-size:16px;}

.contents2{
	width:540px;
	
	position:absolute;
	top:590px;
}
.contents2>p:first-child{
	width:100%;
	height:40px;
	background:#00a0b0;
	line-height:40px;
	font-size:18px;
	color:#ffffc3;
	padding-left:10px;
}
.contents2>div{border:1px solid #333;margin-top:5px;padding:10px;}
.contents2>div p{padding-bottom:5px;}
.contents2 p{font-size:16px;}
.contents2>div p:nth-child(odd){background-color:#ddd;}/*奇数行变色*/
.contents3>div p:nth-child(even){background-color:#ddd;}/*偶数行变色*/
.contents3{
	width:540px;
	
	position:absolute;
	top:860px;
}
.contents3>p:first-child{
	width:100%;
	height:40px;
	background:#00a0b0;
	line-height:40px;
	font-size:18px;
	color:#ffffc3;
	padding-left:10px;
}
.contents3>div{border:1px solid #333;margin-top:5px;padding:10px;}
.contents3>div p{padding-bottom:5px;}
.contents3 p{font-size:16px;}

/*项目模块*/
.mod{
	display:inline-block;
	width:100px;
	height:100px;
	background-color:#5abaf6;
	margin-top:20px;
	margin-left:20px;
	border-radius:50%;
	text-decoration:none;
	text-align:center;
	line-height:100px;
	color:#ddd;
}

















